// .page-title-main {
//     margin: 0;
//     line-height: 70px;
//     padding: 0 20px;
//     position: absolute;
//     left: 14%;
// }

// .title{
//     position: fixed;
//     left: 100px;
// }

.commontitle{
    min-width: 32px;
    display: block;
    line-height: 70px;
    /* text-align: center; */
    max-height: 70px;
    color: white;
}