<!-- Begin page -->
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Add Banner</h4>
                            <form [formGroup]="addFrom">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Banner Name*</label>
                                        <input type="text" class="form-control" formControlName="BannerNames"
                                            [(ngModel)]="BannerName" name="bName" placeholder="Banner Name" required>
                                        <span class="alert"
                                            *ngIf="!addFrom.get('BannerNames').valid && addFrom.get('BannerNames').touched">
                                            Please Enter Banner Name.
                                        </span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Banner Location*</label>
                                        <input type="text" class="form-control" formControlName="bannerLocation"
                                            [(ngModel)]="BannerLocations" name="Location" placeholder="Banner Location"
                                            required>
                                        <span class="alert"
                                            *ngIf="!addFrom.get('bannerLocation').valid && addFrom.get('bannerLocation').touched">
                                            Please Enter Banner Location.
                                        </span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Link</label>
                                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="bannerlink" name="llinkss" placeholder="Link" required>
                                        <!-- <span class="alert"
                                            *ngIf="!addFrom.get('bannerLinks').valid && addFrom.get('bannerLinks').touched">
                                            Please Enter Link.
                                        </span> -->
                                    </div>
                                    <div class="form-group col-md-4 abc">
                                        <label class="col-form-label">Desktop Banner Photo</label>
                                        <input type="file" class="form-control"
                                            (change)="selectMultipledesktopImage($event)" placeholder="Banner Photo"
                                            required>
                                    </div>
                                    <div class="form-group col-md-4 abc">
                                        <label class="col-form-label">Mobile Banner Photo</label>
                                        <input type="file" class="form-control"
                                            (change)="selectMultipleMobileImage($event)" placeholder="Banner Photo"
                                            required>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary waves-effect waves-light btn-block"
                                    [disabled]="!addFrom.valid" (click)="AddproductBannerPic()">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End page -->

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="color: white"> Adding</p>
</ngx-spinner>