<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<!-- Begin page -->
<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="header-title mt-0 mb-3">Product Variant Picture</h4>
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Image*</label>
                                        <input type="file" class="form-control" name="images" multiple
                                            (change)="selectMultipleImage($event)" placeholder="Product Variant Photo"
                                            required><br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Thumbnail*</label>
                                        <input type="file" class="form-control" name="images" multiple
                                            (change)="selectMultipleThumbnail($event)"
                                            placeholder="Product Variant Photo" required><br>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-form-label">Image Order</label>
                                        <select class="form-control" id="imageOrders"  (change)="getPhotoOrder($event)">
                                            <!-- <option>{{i.photoOrder}}</option> -->
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary waves-effect waves-light btn-block"
                                    (click)="AddproductvariantPic()">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="color: white"> Adding</p>
</ngx-spinner>