<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div id="wrapper">
    <div class="content-page">
        <!-- Brand start -->
        <div class="content">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dt-buttons btn-group">
                                        <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0"
                                            aria-controls="datatable-buttons" routerLink="/brands/add-brand"
                                            type="button">
                                            <span>Add Brand</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right">
                                    <div id="datatable-buttons_filter" class="dataTables_filter">
                                        Search:
                                        <label>
                                            <input type="search" class="form-control form-control-sm"
                                                placeholder="search" aria-controls="datatable-buttons"
                                                [(ngModel)]="filterInput">
                                        </label>
                                    </div>
                                </div>
                            </div><br>
                            <div class="responsive-table-plugin">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive" data-pattern="priority-columns">
                                        <table id="example" class="table table-bordered dt-responsive nowrap">
                                            <thead>
                                                <tr style="cursor: pointer;">
                                                    <th (click)="filterTableColumn('brand_name','str')">Brand Name </th>
                                                    <th (click)="filterTableColumn('popular_brand','str')">Popular Brand
                                                    </th>
                                                    <th (click)="filterTableColumn('trending_brand','str')">Order
                                                        </th>
                                                    <th (click)="filterTableColumn('brand_image','str')">Brand Image
                                                    </th>
                                                    <th (click)="filterTableColumn('active','str')">Active</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let i of Pbrand |filter:filterInput | paginate: { itemsPerPage: 50, currentPage: p,totalItems: pageno};let index=index;">
                                                    <td class="links" style="color: #D31D28 !important"
                                                        (click)="getProductbrandID(i.id)">{{i.brand_name}}
                                                    </td>
                                                    <!-- <td>{{i.popular_brand | number : '1.2-2'}}</td>
                                                    <td>{{i.trending_brand | number : '1.2-2'}}</td> -->
                                                    <td>
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <select class="form-control" id="popularBrand"
                                                                        [(ngModel)]="i.popular_brand"
                                                                        name="brandPopular{{index}}"
                                                                        (change)="getPopularBrandOrder($event)">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button
                                                                            class="btn btn-icon waves-effect btn-secondary"
                                                                            type="submit" (click)="updateActive(i)">
                                                                            <i class="fas fa-check"></i> </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <select class="form-control" id="trending"
                                                                        [(ngModel)]="i.trending_brand"
                                                                        name="brandTrending{{index}}"
                                                                        (change)="getTrendingBrandOrder($event)">
                                                                        <option value="0">0</option>
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                    </select>
                                                                    <div class="input-group-append">
                                                                        <button
                                                                            class="btn btn-icon waves-effect btn-secondary"
                                                                            type="submit" (click)="updateActive(i)">
                                                                            <i class="fas fa-check"></i> </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td style="width: 10em;"><img class="card-img-top img-fluid"
                                                            src="{{apiserveice.domainname}}brand/{{i.brand_image}}"
                                                           alt="Card image cap">
                                                    </td>
                                                    <td><label class="switch">
                                                            <input type="checkbox" name="activeVarient{{index}}"
                                                                [(ngModel)]="i.active" (change)="updateActive(i)">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </td>
                                                    <td><button class="btn btn-secondary waves-effect" type="submit"
                                                            (click)="deleteeBrand(i.id)"><i
                                                                class="fas fa-times"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="bs-example" style="text-align: right;">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand end -->
    </div>
</div>